.postmain {
  .content{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
  }
  .listComment{
    width: 100%;
    .formComment{
      width: 100%;
      margin-right: auto;
      margin-left: auto;
      display: flex;
      flex-direction: column;
    }
    .buttonComment{
      width: 10%;
      margin-top: 10px;
      margin-right: auto;
      margin-left: auto;
      border-radius: 5px;
      border: 1px solid black;
      margin-bottom: 1em;
    }
    .inputComment{
      margin-right: auto;
      margin-left: auto;
      width: 40%;
    }
  }
  img {
    width: 100%;
    height: 30em;
    object-fit: cover;
    object-position: center;
    margin: auto;
  }
  h1 {
    text-align: center;
    margin: 2em;
  }
  h2{
    margin-bottom: 1em;
    text-align: center;
  }

  @media (max-width: 1250px) {
    .content{
      .contenttext{
        font-size: 14px;
      }
    }
  }
}