.homeMain {
  padding-bottom: 3rem;

  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  h1 {
    text-align: center;
    margin: 2em;
  }

  h2 {
    font-size: 2em;
    font-weight: 200;
  }

  .carroussel h2,
  .banniere {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 3rem;

    .contentBanniere {
      display: flex;
      align-content: center;
      flex-direction: column;
      margin-left: 3vw;
      justify-content: flex-start;
      margin-top: 2vw;
    }


    h1 {
      margin-bottom: 0;
      font-size: 2.5rem;
      font-weight: 900;
      width: 320px;
      // margin: 4rem auto 3rem auto;
    }

    h1,
    a {
      margin-left: 0;
    }

    a button {
      margin-left: 1rem;
    }

    button {
      position: relative;
      left: 1vw;
      top: 10px;
      font-weight: 500;
      letter-spacing: 0.3px;
    }

    .banniere_box_img {
      height: 33rem;
      margin-left: 8%;
      max-height: 300px;
      margin-top: 4rem;

      img {
        // margin: 0 0 5em 0;
        padding-left: 5px;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-right: 0px;
        height: 100%;
      }
    }

    button {
      text-decoration: none;
      align-self: center;
      width: 15em;
      margin: 10px;
      padding: 15px 10px;
      border-radius: 5px;
      color: white;
      background: #345995;
      border: none;
    }
  }

  .carroussel {
    text-align: center;

    .d-block {
      width: 100%;
    }

    img {
      width: 100%;
      height: 80%;
    }

    h3,
    p {
      text-shadow: 1px 1px #000;
    }
  }
}

@media (max-width: 1650px) {
  .homeMain {
    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    .contentBanniere {
      a button {
        margin-left: 5%;
      }
    }
  }
}


@media (max-width: 1450px) {

  .contentBanniere {

    a button {
      margin-left: 9rem;
    }

  }




}

@media (max-width: 1250px) {
  .homeMain {
    margin-bottom: 7rem;

    .banniere .banniere_box_img {
      height: 22rem;
      margin-top: 4rem!important;

      h1 {
        font-size: 2.3rem;
      }

      display: flex;
      justify-content: space-evenly;
      gap: 3rem;
      width: 90%;
      margin: auto;

      .banniere_box_img {
        margin: auto;
      }

      .banniere_box_img img {
        margin-left: 0;
      }

      .contentBanniere {
        margin: auto auto 10% 5%;
        align-content: center;


        button {
          text-decoration: none;
          align-self: center;
          font-size: 15px;
          margin: 15px auto 0 1.7rem;
          padding: 15px 15px;
          border-radius: 5px;
          color: white;
          background: #345995;
          border: none;
          letter-spacing: 0.5px;
        }
      }

    }

    .carroussel {
      text-align: center;

      img {
        width: 100%;
        height: 80%;
      }
    }

    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 1000px) {
  .homeMain {
    .banniere {
      gap: 0;

      h1 {
        margin-top: 4rem;

      }

      .banniere_box_img {
        height: 18rem;
        margin-bottom: 2rem;
        margin-left: 10%;
      }


      .contentBanniere {


        a button {
          margin: 15px auto 0 2.7rem;
          left: 0;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .homeMain {
    margin-bottom: 0rem;

    .banniere {
      display: flex;
      flex-direction: column;

      h1 {
        max-width: 100%;
        text-align: center;
        margin: 0.7rem auto 0 auto;
      }

      .banniere_box_img {
        display: flex;
        margin: auto;
        width: 100%;
        height: 100%;
        max-height: 100%;
        height: 15rem;
        margin-top: 2rem;
      }

      .banniere_box_img img {
        margin: auto;
      }

      .contentBanniere {
        margin: 0 auto 3rem auto;

        h2 {
          text-align: center;
          max-width: 470px;
          margin-bottom: 1rem;
        }

        button {
          margin: auto;
          padding: 15px;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .homeMain {
    padding-bottom: 0;

    .container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media (max-width: 500px) {
  .homeMain {
    .banniere {
      margin-bottom: 2em;

      h1 {
        font-size: 2rem;
      }

      .banniere_box_img {
        height: 14rem;
      }

      a {
        margin-left: 1rem;

      }

      .contentBanniere {
        display: grid;
        align-content: center;
      }

      button {
        text-decoration: none;
        align-self: center;
        font-size: 14px;
        margin: 10px;
        padding: 10px 10px;
        border-radius: 5px;
        color: white;
        background: #345995;
        border: none;
      }
    }

    .carroussel {
      text-align: center;

      img {
        width: 100%;
        height: 80%;
      }

      h3 {
        position: relative;
        bottom: 0.7rem;
      }

      .carrousselDescription {
        display: none;
      }
    }
  }
}

@media (max-width: 340px) {
  .homeMain .banniere .banniere_box_img {
    height: 12rem;
  }
}

.bodyPrivacy {
  padding: 2rem;
}