.comment {
  padding: 1.5em;
  margin-bottom: 1em;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  .flexcontainer {
    display: flex;
    justify-content: space-between;
  }

  .commentText {
    color: black;
    font-size: clamp(12px, 1.8vw, 14px);
  }

  .commentPseudo {
    font-weight: bold;
    font-size: 16px;
    // text-decoration: underline;
    // text-underline-offset: 1.4px;
    // text-decoration-thickness: 1px;

  }

  .commentDate {
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
  }

  .buttonComment {
    position: absolute;
    top: 2.5%;
    right: 2%;
    border: none;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0);
    font-weight: bold;
  }
}







.articlelist {
  text-align: center;
  width: 90%;
  margin: 10px 0;
  width: 22rem;


  .listCard {
    margin-right: auto;
    margin-left: auto;
  }

  .card {
    color: black;
    width: 100%;
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
    min-height: 28rem;
    position: relative;
    width: 360px;
    min-height: 550px;
    flex-wrap: wrap;

    h3 {
      font-size: clamp(1rem, 1.7vw, 1.1rem);
    }

    p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      padding: 0 10px;
    }

    .dateCreated {
      border: 1px solid black;
      border-style: inset;
      display: inline-block;
      position: absolute;
      padding: 10px;
      bottom: 3px;
      left: 3%;
    }

    h3 {
      padding: 10px;
    }

    img {
      width: 100%;
      height: 19em;
      object-fit: cover;
    }
  }
}

@media (max-width: 1650px) {
  section.articlelist {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

    .listCard {
      margin: 1.5rem;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

@media (max-width: 1250px) {
  .comment {
    .flexcontainer {
      display: flex;
      flex-direction: column;
    }
  }

  section.articlelist {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 26rem;

    .listCard {
      margin-bottom: 2rem;
      margin-right: auto;
      margin-left: auto;
    }


  }

  .articlelist {
    .card {
      width: 100%;
      text-align: left;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

      // p {
      //   padding: 10px;
      // }
      h3 {
        padding: 10px;
      }

      img {
        width: 100%;
        height: 19rem;
        object-fit: cover;
      }
    }

  }

}

@media (max-width: 750px) {
  section.articlelist {
    margin-bottom: 0;
  }

  .articlelist {
    width: 95%;
    margin: auto;

    section.articlelist .listCard {
      margin: 3rem auto;
    }

    .card {
      margin-bottom: 1rem;
      width: 100%;
      min-height: 675px;

      img {
        height: 27rem;
      }
    }
  }

  .listCard:last-child {
    margin-bottom: 0;
  }
}


@media (max-width: 600px) {
  section.articlelist .listCard {
    margin: 0.5rem;
  }


  .articlelist {

    .card {
      min-height: 560px;

      img {
        height: 20rem;
      }
    }


  }
}