.upload_container {
    width: 80%;
    display: flex!important;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    height: 6rem;
margin-top: 1rem;

    .description_box {
        display: flex !important;
        flex-direction: column;
        height: 6rem;
        align-items: center;

        input#Telecharher {
            display: flex;
            margin-left: 0;
        }

        .img_box {

            display: flex;
            flex-direction: row;



            img {
                width: auto;
                height: 100%;
                max-height: 2rem;
                height: 100%;


            }

            h2 {
                font-size: 1rem;
                margin: auto;
                margin-left: 1rem;
            }

        }






    }


    .box_actualiser_img {
        width: 12.5rem;

        img {
            width: 100%;
            aspect-ratio: 4 / 2;
        }
    }

    .uploaded_preview {

        height: 7rem;
        width: auto;
        max-height: 7rem;
        margin-bottom: 0.5rem;


        img {
            max-height: 7rem;
            height: auto;
            width: auto;
            object-fit: fill;
            margin-right: 2rem;
            margin-bottom: 2rem;
        }
    }

    .buttonBox {
        display: flex;
        align-content: center;
        max-width: 10rem;

        button {
            padding: 5px 13px;
            border-radius: 5px;
            border: 0.3px solid black;
            color: white;
            max-height: 3.1rem;
            font-size: clamp(0.9rem, 2.2vw, 1.2rem);
            margin-left: 0;
            background: linear-gradient(to right, blue, rgb(0, 173, 226));
            letter-spacing: 0.8px;
            min-width: 37%;
        }
    }
}