$textcolor: #000001;
$textcolorwhite: #fef6c9;
$textcolorgrey: #4f4346;
$primarycolor: #345995;
$secondarycolor: #8eb8e5;



:root {
  --secondarycolor: #8eb8e5;
  --textcolor: #000001;
  --textcolorwhite: #fef6c9;
  --textcolorgrey: #4f4346;
  --primarycolor: #345995;
  --secondarycolor: #8eb8e5;

}


a {
  text-decoration: none !important;
  /* no underline */
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  color: $textcolor;
  margin: 0;
  text-decoration: none;
}

main {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

h1,
h2,
h3 {
  margin: 0 0 0.35em;
  font-family: "Nanum Myeongjo", serif;
}

h1 {
  font-size: 3em;
  text-align: center;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1em;
}

p {
  margin: 0;
  font-size: 1em;
}

.dateline {
  font-style: italic;
  font-size: 0.8em;
}